.circulo {
    width: 70px;
    height: 70px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin: 10px 0px 0px 0px;
    border: solid;
    
}
:host {
    margin: 0 auto;
}
