
.contenedor{
    width: 350px;
    height: 650px;
    display: block;
    margin-left:auto;
    margin-right:auto;  
    vertical-align:middle;
}
.columna{
    height: 100%;
  
}
#imagen{
    margin: 20px;
}
#botonConsultar{
    margin-top: 10px;
}
mat-card {
  width: 350px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

section {
  vertical-align: middle;
  height: 100%;
}
mat-card-content{
    text-align: center;
}
mat-card-footer{
    text-align: center;

}
  