<section fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
    <form [formGroup]="consultaPicoPlacaForm" (ngSubmit)="consultarPicoPlaca()">
    <mat-card class="contenedor">
        <mat-card-title>
            Predictor de pico y placa
        </mat-card-title>
        <mat-card-content>

            <div id="imagen" fxLayout="column">
                <app-luz [color]='this._SemaforoPicoPlacaService.luzColorRojo' fxFlex>
                    No puede circular
                </app-luz>

                <app-luz [color]='this._SemaforoPicoPlacaService.luzColorVerde' fxFlex>
                    Puede circular
                </app-luz>
            </div>
            <mat-divider></mat-divider>
            <h2>¿Desea conocer si su vehículo puede circular?</h2>
            <h3>Ingrese los datos de consulta</h3>
            <div>
               
                    <div>
                        <mat-form-field>
                            <input formControlName="placa" matInput placeholder="Placa del vehículo">
                        </mat-form-field>
                        <br>
                        <mat-form-field>
                            <input formControlName="fecha" matInput placeholder="DD/MM/AAAA">
                        </mat-form-field>
                        <br>

                    </div>
                    <div>
                        <input formControlName="hora" placeholder="Formato 24h" aria-label="24hr format"
                            [ngxTimepicker]="fullTime" [format]="24" readonly>
                        <ngx-material-timepicker #fullTime></ngx-material-timepicker>
                    </div>
             
            </div>

        </mat-card-content>

        <mat-card-footer>
            <button [disabled]="!this.consultaPicoPlacaForm.valid" id="botonConsultar" mat-flat-button color="accent"
                type="submit">Consultar</button>
                <h2>¿Te gustaría ver el código fuente?</h2>
                 <a href="https://gitlab.com/jsofii/pico-y-placa" target="_blank">¡Ingresa a este link!</a>
        </mat-card-footer>
    

    </mat-card>
    </form>
</section>
